.container h1 {
    font-size: 20px;
}

.container p {
    color: var(--c4);
    font-size: 16px;
    width: auto;
}

.adminpanel-container {
    width: fit-content;
}

.adminpanel-login {
    width: fit-content;
}

.adminpanel-login .input {
    width: 100%;
    box-sizing: border-box;
}

.input {
    color: var(--c4);
    background-color: var(--c1);
    border-radius: var(--rounding-small);
    padding: 4px 8px;
    border: var(--default-border);
    border-color: var(--c5);
    width: 100%;
    display: block;
    box-sizing: border-box;
}

.button {
    color: var(--c4);
    background-color: var(--c1);
    border-radius: var(--rounding);
    border: var(--default-border);
    border-color: var(--c5);
    padding: 4px 8px;
    transition: 0.3s;
}

.button:hover {
    color: var(--c4);
    background-color: var(--c1);
    border-radius: var(--rounding);
    border: var(--default-border);
    border-color: var(--c3);
    padding: 4px 8px;
}

.adminpanel-manipulation {
    width: 400px;
}

.dropdown {
    background-color: var(--c1);
    border: var(--default-border);
    padding: 0 1em 0 0;
    margin: 0;
    font-family: inherit;
    font-size: 16px;
    cursor: inherit;
    line-height: inherit;
    border-radius: 4px;
    padding: 0.25em 0.5em;
    cursor: pointer;
    color: var(--c4);
    display: inline-block;
    width: fit-content;
}