#rankings {
    width: 100%;
    border: none;
}

#rankings tr {
    padding-bottom: 4px;
    border-radius: 2px;
}

.leaderboard-column,
.leaderboard-stat {
    text-align: left;
    padding: 4px 8px;
}

.leaderboard-column {
    color: white;
}

.leaderboard-stat {
    color: var(--color-text);
}

.row-darker td {
    background-color: var(--color-black-alpha25);
    border: solid;
    border-collapse: collapse;
    border-color: var(--color-black-alpha25);
    border-radius: 4px;
    border-width: 0;
}

.row-darker .leftmost {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.row-darker .center {
    border-radius: 0;
}

.row-darker .rightmost {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#first-place {
    color: #BF616A;
    font-size: 22px;
}

#second-place {
    color: #D08770;
    font-size: 20px;
}

#third-place {
    color: #EBCB8B;
    font-size: 18px;
}

.sort-by-selector {
    text-align: left;
    color: var(--color-text);
}

.sort-by-selector select {
    background-color: var(--color-black-alpha25);
    border: var(--default-border);
    margin: 0;
    font-family: inherit;
    font-size: 16px;
    line-height: inherit;
    border-radius: 4px;
    width: 100px;
    text-align: center;
    padding: 0.25em 0.5em;
    cursor: pointer;
    color: var(--color-text);
    transition: 0.3s;
}

.sort-by-selector select:hover {
    background-color: var(--color-white-alpha075);
}

.button {
    border: solid;
    border-collapse: collapse;
    border-color: var(--color-black-alpha25);
    border-width: 0;
    color: var(--color-text);
    border-radius: 4px;
    padding: 8px 16px;
    transition: 0.3s;
    font-family: inherit;
    font-size: 16px;
    
}

.button:hover {
    background-color: var(--color-black-alpha25);
}